.DS_Store
.idea
.srl
grafana.db
.gradle

/tools/*/tmp/

/certificates/secrets/*

/clusters/oauth/oauth-client/build
/clusters/*/data/*

/clusters/*/secrets/*.jks
/clusters/*/secrets/kafka.key
/jumphost/secrets/*.jks
/jumphost/secrets/kafka.key
/tools/*/secrets/*.jks
/tools/*/secrets/kafka.key
