security.protocol=SASL_SSL
ssl.truststore.location=/etc/kafka/secrets/kafka.server.truststore.jks
ssl.truststore.password=broker_secret
sasl.mechanism=OAUTHBEARER
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required tokenUrl="http://hydra:4444/oauth2/token" username="broker-kafka" password="broker-kafka" ;
sasl.login.callback.handler.class=dev.buesing.oauth.OauthAuthenticateLoginCallbackHandler
